@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Black-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Lightitalic-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: italic;
  }

  @font-face {
    font-family: 'norse';
    src: url('fonts/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}
  
  /* 2. Remove default margin */
* {
    margin: 0;
}
  
body {
/* 3. Add accessible line-height */
    line-height: 1.5;
/* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
    }
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}


form {
    font: 1rem sans-serif;
    max-width: 20vw;
}

p > label {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
textarea,
fieldset {
    width: 100%;
    /* border: 1px solid #333; */
    box-sizing: border-box;
    /* border-radius: 3px; */
    border: 2px;
    border-radius: 2px;
    line-height: 1.5rem;
    padding-left: 0.4rem;
    outline: none;
}



input:invalid:required:not(:focus) {
    box-shadow: 0 0 4rem 1rem rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(78, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    outline: solid 3px rgb(237, 185, 185);
    border-radius: 2px;    
}


input:placeholder-shown:invalid:required,
input:not(:placeholder-shown) {
    box-shadow: none;
    color: rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    outline: none;
    border-radius: 2px;
    border: 2px solid WHITE;
    line-height: 1.5rem;
    padding-left: 0.4rem;
    outline: none;
}

input:valid:required:not(:focus) {
    box-shadow: 0px 0px 5px 0.005px #faebad85;
    color: #2c2300;
    background: linear-gradient(135deg, #b98800b3, #bb9500, #b98800b3); /* The gradient */
    background-size: 100% 100%; /* Makes the gradient more dynamic */
    border: 2px solid #504724;
    border-radius: 2px;
    line-height: 1.5rem;
    padding-left: 0.4rem;
    outline: none;
}

body{
    display: flex;
    height: 100vh;
    font-family: roboto;
}

.left {
    min-width: 567px;
    background-image: url('./images/viking.webp');
    background-color: #b58503;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -50rem -24.5rem;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    
    
}

.left::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        115deg, 
        rgba(255, 255, 255, 0.0) 0%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 1) 100%
        );
    z-index: -1;
}

.logo-container{
    display: flex;
    background: linear-gradient(to bottom, 
        rgba(0, 0, 0, 0) 0%,             /* Transparent at the top */
        rgba(0, 0, 0, 0.5) 49%,       /* rgba color in the middle */
        rgba(0, 0, 0, 0.5) 51%,
        rgba(0, 0, 0, 0) 100%);          /* Transparent at the bottom */
    justify-content: left;
    align-items: center;
    overflow: hidden;
    /* margin-top: calc(30vh - calc(6rem)); */
    padding: 2rem 0 6rem 0;
    position: relative;
}
.odin{
    width: 50%;
    font-size: 6rem;
    font-weight: bold;
    padding-left: 2rem;
    font-family: 'norse';
    line-height: 0.95;
    /* color: #ffffff; */
    background-image: linear-gradient(135deg, #c79200b3, #c39c02, #c79200b3); /* The gradient */
    -webkit-background-clip: text; /* Clips the background to the text */
    color: transparent;
    background-size: 100% 100%; /* Makes the gradient more dynamic */
}

#viking{
    display: block;
    width: 18%;
    height: auto;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(135deg, #c79200b3, #c39c02, #c79200b3); /* The gradient */
    background-size: 300% 300%; /* Makes the gradient more dynamic */
    padding: 0.9rem;
    border-radius: 19px;
    clip-path: polygon(15% 0, 85% 0, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0 85%, 0 15%);
}
.right {
    display: flex;
    width: 60vw;
    flex-direction: column;
    align-items: left;
    justify-content:end;
    background-color: #000000;
    color: #ffffff;
    flex-grow: 1;
    
}

.right > * > *{
    margin-bottom: 2rem;
    margin-left: 50px;
}

.hero {
    margin-bottom: 4.5rem;
}

.form-container{
    background: linear-gradient(90deg, rgba(21,32,41,0.2) 0%, rgba(21,32,41,0.7) 30%, rgba(21,32,41,0) 100%);
    margin-left: 50px;
    color: #dae2e7;
    padding: 1rem 0 1rem 0;
    margin-bottom: 4rem;
}

.form-container > *{
    margin: 1rem 1rem 0 0rem;
    padding-top: 20px;

}

#formexact {
    display: flex;
    padding-bottom: 1rem;
    font-size: 0.833em;
    margin: 0 0 0rem 2rem ;
    padding: 0;
}

form > div {
    min-width: 17rem;
}
.left-form {    
    margin: 0 3rem 0 0;
}

label{
    display: block;
    margin: 0.5rem 0 0.25rem 0;
}
input{
    display: block;
    margin: 0rem 0 1.1rem 0;
}

button {

    max-width: 180px;
    padding: 12px 24px;
    border-radius: 8px;
    border: 0;
    /* background-color: #c79200; */
    background: linear-gradient(135deg, #c79200b3, #ecbd01, #c79200b3);
    background-size: 400% 400%; /* Makes the gradient more dynamic */
    transition: background 0.8s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition */
    color: #ffffff;
    font-weight: bolder;
    margin-left: 0rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

button:hover {
    transform: scale(1.1); /* Slight grow effect on hover */
    background-position: right center; /* Shifts the gradient */
    background-size: 200% 200%; /* Expands the gradient for shine effect */
}

button:active {
    transform: scale(0.95); /* Button slightly shrinks when pressed */
    background-size: 100% 100%; /* Resets the gradient */
}
  .hero > * {
    margin-bottom: 3.5rem; 
    font-size: 3.5rem;
    font-weight: 800;
    font-family: 'norse';
    line-height: 1;
  }
  .another {
    font-weight: lighter;
    font-size: 1.20rem;
    max-width: 35rem;
    font-family: 'roboto';
    line-height: 1.44rem;
  }
  .mastery{
    font-weight: bold;
    font-family: 'norse';
    line-height: 0.8;
    font-size: 5rem;
    /* color: #ffffff; */
    background-image: linear-gradient(135deg, #c79200b3, #c39c02, #c79200b3); /* The gradient */
    -webkit-background-clip: text; /* Clips the background to the text */
    color: transparent;
    background-size: 50% 50%; /* Makes the gradient more dynamic */
    
  }
  .lets {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    padding: 0;
    font-family: 'norse';
    margin-top: 0;
    line-height: 0.7;
  }
  a {
    color: #c39c00;
    font-weight: bold;
    
  }

  .lower-part{
    margin-top: 2rem;
    margin-bottom: 8rem;
  }
  